body,
html {
    background-color: white;
    font-family: verdana;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.wrapper {
    height: 100%;
    width: 100%;
}

.headerWrapper {
    position: relative;
    width: 100%;
    font-size: 34px;
    position: relative;
    color: white;
    text-align: center;
    padding: 20px 0px 20px 0px;
    overflow: hidden;
    background-color: #365899;
}

.contentWrapper{
    width: 1060px;
	margin: 0 auto;
	overflow: hidden;
}

.myDetails {
    width: 100%;
    display: none;
	color: #365899;
    background: white;
    border-bottom : 3px dashed rgba(54,88,153,0.1);
    border-top: 0px;
    overflow: hidden;
}

.manual{
	text-align:center;
	padding-bottom:15px;
	color: #365899;
}

.myDetails p {
	text-align:center;
    padding: 15px 15px 0px 15px;
    margin: 0px;
}

.myDetails p:last-child {
    padding-bottom: 15px;
}

.componentHolder{
	width : 100%;
	overflow:hidden;
}

.componentButton{
	width : 100px;
	    margin-left: 10px;
    margin-right: 10px;
}

.componentFont {
	font-size:25px;
}

.componentTextBox:focus{
	outline:0;
}

.componentTextBox {
    border-color: rgba(54,88,153,0.1);
	padding-bottom:5px;
	font-weight: bold;
	width:450px;
	color: #365899;
	text-align:center;
	border-top: none;
    border-left: none;
    border-right: none;
}

.componentTextBox:first-child{
	margin-left:15px;
}

.playArea {
	width : 100%;
    padding-top: 15px;
}

.innerBox {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: white;
    top: 10px;
    left: 54px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: height 0.2s, width 0.2s;
	-ms-transition: height 0.2s, width 0.2s;
	-moz-transition: height 0.2s, width 0.2s;
}

.innerBox.animate {
    -webkit-animation: rotating 1s linear infinite;
	-moz-animation: rotating 1s linear infinite;
	-ms-animation: rotating 1s linear infinite;
}

.innerBox.stopped {
    -webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
    background: url("https://scontent.fmaa1-2.fna.fbcdn.net/v/t1.0-1/c0.0.160.160/p160x160/13015464_1757760064500168_6084131892758075991_n.jpg?oh=d57b903259b1f6825ce76a626399b5f5&oe=580DC5AD");
    background-size: 100% auto;
    width: 40px;
    height: 40px;
    border: 2px solid black;
}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes rotating {
    from {
		-moz-transform: rotate(0deg); 
    }
    to {
        -moz-transform: rotate(360deg);
    }
}@-ms-keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
    }
}

#disqus_thread{
    margin-top: 30px;
    border-top: 3px dashed rgba(54,88,153,0.1);
    padding: 35px;
    padding-bottom: 0px;
	-webkit-transition: opacity 0.2s, width 0.5s;
	-moz-transition: opacity 0.2s, width 0.5s;
	-ms-transition: opacity 0.2s, width 0.5s;
}

.discussPartialDisplay{
	opacity:0.1
}

#disqus_thread:hover{
	opacity : 1;
}

.resultDisplayer {
	margin-top : 30px;
	border: 3px dashed rgba(54,88,153,0.1);
	padding:15px;
}

.resultDisplayer  > p:first-child{
	margin-top:0;
}
.resultDisplayer  > p:last-child{
	margin-bottom:0;
}

.center{
	text-align :center;
}

.steps{
    padding: 5px;
    color: white;
    background: #365899;
}

.steps > span{
	 margin-left: 35px;
}

.reference{
	font-weight: bold;
    font-style: italic;
    color: #365899;
    opacity: 0.5;
}
.explanation{
	padding-left: 15px;
}
